<!DOCTYPE html>
<html>
    <head>
        <title>{{product.name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://tss.ru/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="https://tss.ru/favicon.ico">
        <link rel="apple-touch-icon" href="https://tss.ru/favicon.ico">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include "header.html" %}
        <div class = "content_wrap">
            <h1>{{product.name}}</h1>
            <div class = "main_information">
                <img class="about_product_img" src="{{ product.picture }}" alt="Описание изображения">
                <div>
                    <table >
                        <tr>
                            <td>Артикул</th>
                            <td>{{ product.article }}</th>
                        </tr>
                        <tr>
                            <td>Цена</td>
                            <td>{{product.price}} Руб</td>
                        </tr>
                        {% if product.powerkWA is not none %}
                            <tr>
                                <td>Основная мощность</td>
                                <td>
                                    {{ product.powerkW }}/{{ product.powerkWA }} кВт/кВа
                                </td>
                            </tr>
                        {% endif %}
                        {% if product.voltage is not none %}
                        <tr>
                            <td>Напряжение</td>
                            <td>
                                {{ product.voltage }} В
                            </td>
                        </tr>
                        {% endif %}
                        {% if product.weight is not none %}
                        <tr>
                            <td>Вес</td>
                            <td>
                                {{ product.weight }} кг
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Гарантия</td>
                            {% if product.guarantee is not none %}
                                <td>
                                    {{ product.guarantee }}
                                </td>
                            {% else %}
                                <td>
                                    Гарантии нет
                                </td>
                            {% endif %}
                        </tr>
                        {% if product.noise_level is not none %}
                        <tr>
                            <td>Уровень шума</td>
                            <td>
                                {{ product.noise_level }} (dB/7м)
                            </td>
                        </tr>
                        {% endif %}
                        {% if product.length is not none %}
                        <tr>
                            <td>Размер (Д;Ш;В; мм)</td>
                            <td>
                                {{product.length}}*{{product.width}}*{{product.height}}
                            </td>
                        </tr>
                        {% endif %}
                        {% if product.launch_type is not none %}
                        <tr>
                            <td>Тип запуска</td>
                            <td>
                                {{ product.launch_type }}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            {{ product.full_description | safe}}
        </div>
        {% include "footer.html" %}
    </body>
</html>
