<!DOCTYPE html>
<html>
    <head>
        <title>О нас</title>
        <meta name="keywords" content="производитель, дизельные, генераторы, дгу, дизель генератор, промышленные, промышленный, дизельные генераторы, производство, завод, электрогенераторы, бензиновый, москва,  виброплиты, вибротрамбовки, станки для резки арматуры, станки для гибки арматуры, сварочный инвертор, аппарат, тсс">
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://tss.ru/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="https://tss.ru/favicon.ico">
        <link rel="apple-touch-icon" href="https://tss.ru/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include "header.html" %}
        <div class = "content_wrap">
            <h1>О НАС</h1>
        </div>
        <span class = "header_img"></span>
        <div class = "content_wrap">
            <p>Компания ООО "АСВ "СТРОЙ" специализируется на поставке генераторов и электростанций различной мощности и назначения.
                Мы предлагаем надежные решения для обеспечения бесперебойного электроснабжения как для частных клиентов, 
                так и для бизнеса. В нашем ассортименте представлены бензиновые, дизельные и промышленные генераторы, 
                отвечающие современным требованиям качества и безопасности. Мы являемся официальными дистрибьютором компании ТСС, 
                крупнейшого в России производителя и поставщика генераторов. Мы сопровождаем клиента на всех этапах — от подбора 
                оптимального решения до доставки и ввода оборудования в эксплуатацию. При необходимости предоставляем консультации и 
                техническую поддержку. Наша цель — обеспечить клиентов эффективными и надежными источниками энергии, которые работают 
                тогда, когда это действительно важно.
            </p>
            <table border="1">
                <tr>
                    <td>ИНН</th>
                    <td>9200015843</th>
                </tr>
                <tr>
                    <td>КПП</td>
                    <td>920001001</td>
                </tr>
                <tr>
                    <td>ОГРН</td>
                    <td>1239200001457</td>
                </tr>
                <tr>
                    <td>РАСЧЕТНЫЙ СЧЕТ</td>
                    <td>40702810752000000316</td>
                </tr>
                <tr>
                    <td>БАНК</td>
                    <td>ЮГО ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК</td>
                </tr>
                <tr>
                    <td>БИК</td>
                    <td>046015602</td>
                </tr>
                <tr>
                    <td>КОРР.СЧЕТ</td>
                    <td>30101810600000000602</td>
                </tr>
            </table>
        </div>
        {% include "footer.html" %}
    </body>
</html>
