<!DOCTYPE html>
<html>
    <head>
        <title>{{product.name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://tss.ru/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="https://tss.ru/favicon.ico">
        <link rel="apple-touch-icon" href="https://tss.ru/favicon.ico">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include "header.html" %}
        <div class = "content_wrap">
            <img class="product_img" src="{{ product.picture }}" alt="Описание изображения">
            <h1>{{product.name}}</h1>
            <p>{{product.price}}</p>
        </div>
        <div class = "main_information">
            <p> <br>{{ product.name }} <br> Артикул: {{ product.article }} <br> 
                Основная мощность:
                {% if product.powerkWA is not none %}
                    {{ product.powerkW }}/{{ product.powerkWA }} кВт/кВа
                {% else %}
                            {{ product.powerkW }} кВт
                {% endif %}
                <br> Напряжение (В): {{ product.voltage }} 
                <br> Цена: {{ product.price }} Руб 
                <br> Вес: {{product.weight}} кг <br>
                {% if product.guarantee is not none %}
                    Гарантия: {{product.guarantee}}
                {% endif %} <br>
                {% if product.noise_level is not none %}
                    Уровень шума (dB/7м): {{product.noise_level}}
                {% endif %} <br>
                {% if product.launch_type is not none %}
                    Тип запуска: {{product.launch_type}}
                {% endif %} <br>
                {% if product.length is not none %}
                    Размер (Д;Ш;В; мм): {{product.length}}*{{product.width}}*{{product.height}}
                {% endif %} <br>
            </p>
            <div>{{product.full_description}}</div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
