<html>
    <head>
        <title>Бензиновые электростанции</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include "header.html" %}
        <div class = "content_wrap">
            <h1>Дизельные электростанции</h1>
            <p>
                Дизель генератор производится в России, на мощностях собственного производственного 
                комплекса ГК ТСС и предназначается для решения всего спектра вопросов, связанных с 
                обеспечением резервного и основного энергоснабжения широкого круга объектов. Дизельный 
                генератор адаптирован к отечественному топливу и разнообразным климатическим условиям 
                регионов нашей страны. <br> Среди дизелных электростанций выделяют серии:
            </p>

            <ul  style="font-size: 4vh; padding-top: 2vh;">
                <li><a style="color:blue" href="/diesel_power_plants/tss_premium">TSS Premium</a></li>
                <li><a style="color:blue" href="/diesel_power_plants/tss_prof">TSS Prof</a></li>
                <li><a style="color:blue" href="/diesel_power_plants/tss_standart">TSS Standart</a></li>
                <li><a style="color:blue" href="/diesel_power_plants/tss_slavyanka">ТСС Славянка</a></li>
                <li><a style="color:blue" href="/diesel_power_plants/diesel_high-voltage_generators">Дизельные высоковольтные электростанции</a></li>
                <li><a style="color:blue" href="/diesel_power_plants/diesel_portable">Портативные</a></li>
            </ul>
        </div>
        {% include "footer.html" %}
    </body>
</html>
