<html>
    <head>
        <title>Бензиновые электростанции</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include "header.html" %}
        <div class = "content_wrap">
            <h1>Бензиновые электростанции</h1>
            <p>
                Бензиновая электростанция марки ТСС хорошо зарекомендовала себя на строительных и ремонтных площадках, 
                а также, на торговых, складских, бытовых и других объектах. Бензиновая электростанция производятся в 
                диапазоне мощности от 1 кВт до 17 кВт, однофазные и трёхфазные, вырабатывающие напряжение 220В и 380В, 
                соответственно. Купить бензогенератор в Москве, напрямую от производителя в нашем офисе или в сети 
                официальных дилеров Группы компаний ТСС. <br> Среди бензиновых электростанций особенно выделяют:
            </p>

            <ul  style="font-size: 4vh; padding-top: 2vh;">
                <li><a style="color:blue" href="/gasoline_power_plants/gasolinegenerators">Бензогенераторы</a></li>
                <li><a style="color:blue" href="/gasoline_power_plants/inverter_gasolinegenerators">Бензогенераторы инверторные</a></li>
            </ul>
        </div>
        {% include "footer.html" %}
    </body>
</html>
