<header>
    <div class="column">
        <img class="logo" src="https://tss.ru/bitrix/templates/tss_templates_new/images/logo8.svg">
        <p>Телефон: +7 990 295 55 85</p>
        <p>г.Мелитополь, ул.Молодёжная, 62</p>
    </div>
    
    <div>
        <div class="menubar">
            <a class="menu_item" href="/">ГЛАВНАЯ</a>
            <a class="menu_item" href="/diesel_power_plants">ДИЗЕЛЬНЫЕ ЭЛЕКТРОСТАНЦИИ</a>
            <a class="menu_item" href="/gasoline_power_plants">БЕНЗИНОВЫЕ ЭЛЕКТРОСТАНЦИИ</a>
            <a class="menu_item" href="/about">О КОМПАНИИ</a>
        </div>
        <form class = "search_bar" action="/" method="post">
            <input class = "input_bar" placeholder = "Поиск товара" type="text" name="product" required>
        </form>
    </div>
    <div style="margin-left: 20vw" class="burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="menu" class="menu">
        <a class="menu_item" href="/">ГЛАВНАЯ</a>
        <a class="menu_item" href="/diesel_power_plants">ДИЗЕЛЬНЫЕ ЭЛЕКТРОСТАНЦИИ</a>
        <a class="menu_item" href="/gasoline_power_plants">БЕНЗИНОВЫЕ ЭЛЕКТРОСТАНЦИИ</a>
        <a class="menu_item" href="/about">О КОМПАНИИ</a>
    </div>
</header>

<div id="overlay" class="overlay"></div>
<script src="/static/burgerbar.js"></script>
