<!DOCTYPE html>
<html>
    <head>
        <title>Генераторы</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include "header.html" %}
        <div class = "header">
            <h1>ГЕНЕРАТОРЫ ТСС</h1>
            <h2>ПРОДАЖА СО СКЛАДА В МЕЛИТОПОЛЕ</h2>
        </div>
        <div class = "content_wrap">
            <p>
                Компания ООО "АСВ "СТРОЙ" специализируется на поставке генераторов и электростанций различной мощности и назначения.
                Мы предлагаем надежные решения для обеспечения бесперебойного электроснабжения как для частных клиентов, 
                так и для бизнеса. В нашем ассортименте представлены бензиновые, дизельные и промышленные генераторы, 
                отвечающие современным требованиям качества и безопасности. Мы являемся официальными дистрибьютором компании ТСС 
                в Запорожской и Херсонской областях. ТСС это крупнейший производитель и поставщик генераторов, дизельных электростанций, 
                сварочного и строительного оборудования в России. Мы сопровождаем клиента на всех этапах — от подбора 
                оптимального решения до доставки и ввода оборудования в эксплуатацию. При необходимости предоставляем консультации и 
                техническую поддержку. Наша цель — обеспечить клиентов эффективными и надежными источниками энергии, которые работают 
                тогда, когда это действительно важно.
            </p>
        </div>
        {% include "footer.html" %}
    </body>
</html>
