<!DOCTYPE html>
<html>
    <head>
        <title>{{search}}</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://tss.ru/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="https://tss.ru/favicon.ico">
        <link rel="apple-touch-icon" href="https://tss.ru/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include "header.html" %}
        <div class = "content_wrap">
            <h1>{{search}}</h1>
            {% if not products %}
                <h3 style="padding-top: 1vh; white-space: pre-line">Попробуйте другой запрос</h3>
            {% endif %}
        </div>
        <div class = "products">
            {% if products %}
            {% for product in products %}
                <a href="/product/{{product.slug}}">
                    <div class="product">
                        <img class="product_img" src="{{ product.picture }}" alt="Изображение отсутствует">
                        <p> <br>{{ product.name }} <br> Артикул: {{ product.article }} <br> 
                            Основная мощность:
                            {% if product.powerkWA is not none %}
                                {{ product.powerkW }}/{{ product.powerkWA }} кВт/кВа
                            {% else %}
                                {{ product.powerkW }} кВт
                            {% endif %}
                            <br> Напряжение (В): {{ product.voltage }} <br> Цена: {{ product.price }} 
                        </p>
                    </div>
                </a>
            {% endfor %}
            {% endif %}
        </div>
        {% include "footer.html" %}
    </body>
</html>
